footer {
  width: 100%;
  height: 60px;
  background-color: #363636;
  color: #FFF;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-items: flex-end;

  .footer-left {
    text-align: start;
    margin-left: 1rem;
  }

  .footer-left,
  .footer-right {
    width: 50%;
    margin-bottom: 1rem;
  }

  .footer-right {
    text-align: end;
    margin-right: 1rem;
  }
}